* {
  margin: 0;
  padding: 0;
}

/* .menu {
  width: 0px;
  height: 100vh;
  background: red;
  position: fixed;
  top: 0;
  right: 0;
  transition: 1s;
} */

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  list-style: none;
  padding: 10px;
}

.test li {
  color: white;
  border: 1px solid white;
  margin: 10px;
}
