* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .item {
    width: 49%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .item {
    width: 100%;
    margin-bottom: 20px;
  }
}
